html {
  width: 100%;
  scroll-behavior: smooth;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-weight: normal;
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-weight: normal;
}

body .container {
  padding: 40px 17px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
  position: center;
}

.image__attrac {
  width: 900px;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.attractions__title {
  text-align: center;
  font-family: Amatic SC;
  font-style: normal;
  color: black;
  margin: 50px 0 0 0;
  font-size: 36px;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  text-decoration-line: underline;
  color: #585858;
  margin-top: 30px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 36px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.welcome {
  background: url(../public/img/bg.png) 0 0 / cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.header__logo {
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
  z-index: 5;
  background: url(../public/img/logo.png) 0 0/ 100% 100% no-repeat;
}

.header__button {
  z-index: 5;
  position: relative;
  height: 25px;
  width: 25px;
  margin: 30px 20px 0 0;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header._active {
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.9);
  height: 80px;
}

.header__button span,
.header__button::before,
.header__button::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 90%;
  transition: all 0.3s ease 0s;
  background-color: white;
  z-index: 5;
}

.header__button::before,
.header__button::after {
  content: '';
}

.header__button::before {
  top: 0;
  margin-top: 12%;
}

.header__button::after {
  bottom: 0;
  margin-bottom: 12%;
}

.header__button span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.header__button._active {
  background: none;
  transform: translate(0px, 90vh);
}

.header__button._active span {
  transform: scale(0) translate(0px, -50%);
}

.header__button._active::before {
  top: 38%;
  left: 0%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.header__button._active::after {
  bottom: 38%;
  transform: rotate(45deg) translate(0px, 50%);
  left: 0%;
}

.welcome__text {
  margin: 65vh 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__title {
  font-family: Amatic SC;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  font-size: 80px;
}

.welcome__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: -20px 0 0 0;
}

.welcome__arrow {
  height: 25px;
  width: 25px;
  margin: 300px 0 0px 0;
  animation: arrowDown 1s infinite;
  align-items: center;
}
.welcome__arrow:before,
.welcome__arrow:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translate(0, -53px) rotate(-45deg);
}

@keyframes arrowDown {
  0% {
    transform: translate3d(0, 0, 0);
  }

  80% {
    transform: translate3d(0, 40px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: top 0.3s ease 0s;
  z-index: 4;
}

.menu._active {
  top: 0%;
}

.menu__list > li {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 16px;
  margin-top: 10px;
}

.menu__link {
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.section {
  height: 100vh;
  font-size: 70px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  align-items: center;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.tours,
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tours__title {
  font-family: Amatic SC;
  font-weight: normal;
  color: black;
  margin-top: 20px;
  font-size: 36px;
}

.tour,
.tour--hidden-visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../public/img/tours.png) 0 0 / cover no-repeat;
  height: 300px;
  margin: 20px 10px 30px 10px;
}

.tour::before {
  content: ' ';
  position: absolute;
  height: 180px;
  width: 95%;
  margin-top: 0px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(255, 255, 255, 0.67) 25%,
    #eeeeee 80%
  );
}

.tour--hidden {
  display: none;
}

.tour--hidden-visible::before {
  content: ' ';
  position: absolute;
  height: 180px;
  width: 95%;
  margin-top: 0px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(255, 255, 255, 0.67) 25%,
    #eeeeee 80%
  );
}

.tour__title {
  font-family: 'Roboto';
  z-index: 2;
  color: black;
  margin: 0 0 0px 20px;
  font-weight: 400;
  font-size: 20px;
}

.tour__description {
  font-family: 'Roboto';
  z-index: 2;
  color: black;
  margin: 0 0 0px 20px;
  font-size: 14px;
  font-weight: 100;
}

.tour__price-button {
  display: flex;
  z-index: 2;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  margin: 0 7.5% 10px 7.5%;
}

.tour__price {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 100;
}

.tour__button {
  width: 100px;
  height: 60px;
  border: 1px solid #c3b182;
  background: transparent;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #c3b182;
}

.more-tour {
  font-family: 'Roboto';
  color: #9f9f9f;
  font-size: 14px;
  margin: 0px 0 20px 0;
  background: transparent;
  border: none;
}

.contacts__title {
  font-family: Amatic SC;
  font-weight: normal;
  color: black;
  margin: 30px 0 30px 0;
  font-size: 36px;
}

.contacts__list {
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0 0 0 0px;
  align-items: center;
}

.contacts__text {
  width: 250px;
  padding: 0 0 0px 40px;
  margin: 0 0 0 80px;
}

.contacts__icon1 {
  background: url(../public/img/place.png) left no-repeat;
  background-size: 14px 20px;
  margin: 0 0 20px 80px;
}

.contacts__icon2 {
  background: url(../public/img/phone.png) left no-repeat;
  background-size: 20px 20px;
  margin: 0 0 0 80px;
}

.contacts__icon3 {
  background: url(../public/img/email.png) left no-repeat;
  background-size: 20px 20px;
  margin: 20px 0 0 80px;
}

.contacts__map {
  margin-bottom: 60px;
  height: 100vw;
  object-fit: cover;
  object-position: center;
  margin: 30px 0 100px 0;
}

.footer {
  background-color: black;
  height: 80px;
  display: flex;
  align-items: center;
}
.footer__text {
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0 10px 0 10px;
}

@media (max-width: 1280px) {
  body._lock {
    overflow: hidden;
  }

  .welcome__arrow._active {
    visibility: hidden;
  }

  .footer-contacts {
    display: none;
  }

  .footer-menu {
    display: none;
  }
}

@media (min-width: 1280px) {
  .welcome {
    background: url(../public/img/bg_desktop.png) 0 0 / cover no-repeat;
  }

  .header {
    width: 100%;
  }

  .header._active {
    height: 140px;
  }

  .header__logo {
    width: 90px;
    height: 80px;
    margin: 50px 0 0 170px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 600px;
    height: 180px;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 100px 0 0;
  }

  .menu__list > li {
    display: inline;
    justify-content: center;
    position: relative;
    font-size: 16px;
    margin: 20px 30px 0 0;
  }

  .header__button {
    display: none;
  }

  .welcome__text {
    margin: 450px 0 0 0;
  }

  .welcome__title {
    font-size: 96px;
  }

  .welcome__subtitle {
    font-size: 14px;
    text-align: center;
  }

  .welcome__arrow {
    width: 30px;
    height: 30px;
    margin: 320px 0 0 0;
  }

  .attractions {
    background: #e5e5e5;
    margin: 0px 0 0 0;
  }

  .text {
    padding-left: 40px;
  }

  .attractions__title {
    font-size: 48px;
    margin: 0 0 50px 0;
  }

  .container {
    padding: 0 0 50px 0;
    margin: 0 0 0 0;
  }

  .item {
    flex-direction: row;
    align-items: flex-start;
    margin: 0 120px 0px 120px;
    padding-bottom: 0px;
  }

  .item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .image__attrac {
    width: 800px;
    border-radius: 20px;
    display: block;
    margin: 0px 0px 0px 0px;
  }

  .subtitle {
    font-size: 24px;
    margin: 0 0 0 0;
    padding-left: 40px;
  }

  .tours__title {
    font-size: 48px;
  }

  .tours_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 50px 0;
    width: 1500px;
  }

  .tour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url('../public/img/tours.png') 0 0 / cover no-repeat;
    height: 380px;
    width: 380px;
    justify-content: flex-end;
    margin: 10px 10px 10px 10px;
  }

  .tour--hidden {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url('../public/img/tours.png') 0 0 / cover no-repeat;
    height: 380px;
    width: 380px;
    justify-content: flex-end;
    margin: 10px 10px 10px 10px;
  }

  .tour::before {
    content: ' ';
    position: absolute;
    width: 380px;
    height: 180px;
    margin-top: 0px;
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(255, 255, 255, 0.67) 25%,
      #eeeeee 80%
    );
  }

  .tour--hidden::before {
    content: ' ';
    position: absolute;
    width: 380px;
    height: 180px;
    margin-top: 0px;
    background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(255, 255, 255, 0.67) 25%,
      #eeeeee 80%
    );
  }

  .tour__title {
    font-size: 18px;
    margin: 0 0 0 20px;
  }

  .tour__description {
    font-size: 14px;
    margin: 0 0 20px 20px;
  }

  .tour__price-button {
    margin: 0 20px 20px 20px;
  }

  .tour__price {
    font-size: 24px;
  }

  .tour__button {
    font-size: 14px;
    width: 120px;
    height: 60px;
  }

  .more-tour {
    display: none;
  }

  .contacts {
    background: #e5e5e5;
  }

  .contacts__title {
    font-size: 48px;
    margin: 50px 0 30px 0;
  }

  .contacts__content {
    display: flex;
    flex: row;
  }
  .contacts__text {
    font-size: 14px;
    padding: 0 30px 0 30px;
  }

  .contacts__icon1 {
    background-size: 14px 20px;
  }
  .contacts__icon2 {
    background-size: 20px 20px;
  }
  .contacts__icon3 {
    background-size: 20px 20px;
  }

  .contacts__map {
    width: 800px;
    height: 400px;
    margin: 0 0 100px 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    background-color: #242424;
    align-items: flex-start;
    height: 300px;
    justify-content: space-around;
  }
  .footer-menu {
    margin: 0 0 0 100px;
  }
  .footer-menu__title {
    align-items: center;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    color: #ffffff;
    margin: 40px 0 20px 0;
  }

  .footer-menu__list > li {
    font-weight: 100;
  }

  .footer-contacts__title {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    color: #ffffff;
    margin: 40px 0 40px 40px;
  }

  .footer-contacts__text {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 100;
    color: #e1e1e1;
    margin: 0 0 0 40px;
    width: 500px;
  }
  .footer__text {
    font-size: 14px;
    font-weight: 100;
    margin: 40px 0 0 40px;
  }
}
